.card {
    display: grid;
    justify-content: center;
    justify-items: center;
    border: 2px solid black;
    margin-top: 1rem;
    background-color: lavender;
}

.votes {
    display: flex;
    gap: 2rem;
}